<div class="clearfix" id="footer-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <ul class="footer-menu clearfix">
                    <li><a href="/">Главная</a>
                    </li>
                    <li><a href="/activities.html">Деятельность</a>
                    </li>
                    <li><a href="/about.html">О нас</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-4 text-right">
                <div class="row">
                    <span id="copyright">Site and content designed and developed by <a href="mailto:pandreyn@gmail.com">PAN</a>. </span>
                </div>
            </div>
        </div>
    </div>
</div>
