<div class="container-fluid">

    <!-- Overlay menu -->

    <div class="c-overlay c-overlay-contentscale" ng-class="{'open': isMenuOpen()}">
        <button type="button" ng-click="closeMenu()" class="c-overlay-close">Close</button>
        <nav>
            <div id="global-menu" class="container text-center">

                <ul class="list-group">
                  <a class="list-group-item" ng-click="closeMenu()" href="/">Главная</a>
                  <a class="list-group-item" ng-click="closeMenu()" href="/activities.html">Деятельность</a>
                  <a class="list-group-item" ng-click="closeMenu()" href="/about.html">О нас</a>
                  <li class="list-group-item">
                      <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                            <a class="hi-icon hi-icon-youtube" href="http://www.youtube.com/" target="_blank">YouTube</a>
                            <a class="hi-icon hi-icon-facebook" href="https://www.facebook.com/" target="_blank">Facebook</a>
                            <a class="hi-icon hi-icon-twitter" href="http://twitter.com/" target="_blank">Twitter</a>
                            <a class="hi-icon hi-icon-gplus" href="https://plus.google.com/" target="_blank">Google Plus</a>
                            <a class="hi-icon hi-icon-ggroups" href="https://groups.google.com/" target="_blank">Google Groups</a>
                        </div>
                  </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
