<div class="container pad">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title">О нас</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="nav-header">Мы</p>
        </div>
    </div>
    <div class="col-md-12">
        <p>Мы очень круты и это бесспорно.</p>
        <p>Сказать нам это вы можете написав нам <a href="mailto:mail@agrofair.ru">СЮДА</a>.</p>

    </div>

</div>

<div ng-include src="'/views/includes/footer.html'"></div>
