<div class="container pad">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title">Направления деятельности</h1>
    </div>
  </div>

  <div ng-repeat="group in menuList.content  | orderBy:'groupid' ">
    <div class="row">
      <div class="col-md-12">
        <p class="nav-header">{{group.groupname}}</p>
      </div>
    </div>
    <div class="container">
      <div class="row pad-row" ng-repeat="row in group.pages  | orderBy:'id' | agrofair.partition:2 ">

        <div class="col-md-5 margin" ng-repeat="item in row">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title-link"><a href="/{{item.page}}.html">{{item.name}}</a></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="tech-desc">{{item.brief}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div ng-include src="'/views/includes/footer.html'"></div>
